.sidebar.shrink #legend{
    display: none;
}

#searchForm{
    background: #f1f3f4;
    border: 1px solid transparent;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.contentSimple{
    padding-left: 266px;
    padding-top: 72px;
}
.contentToggled{
    padding-left: 106px;
    padding-top: 72px;
}

.dropdown-item-tag:hover, .dropdown-item-tag:focus {
    color: #6c757d !important;
    background-color: #f8f9fa !important;
}

.dropdown-item-tag:hover i, .dropdown-item-tag:focus i {
    color: #6c757d !important;
}

#style-switch-button {
    top: 694px;
    left: 0px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 998;
}
#style-switch-button span{
    display: none;
}
#style-switch-button:hover span{
    display: contents;
}

.option-button:hover {
    background-color: rgb(240, 240, 240) !important;
    border-radius: 50px;
}
