.sidebar.shrink #legend{
    display: none;
}

#searchForm{
    background: #f1f3f4;
    border: 1px solid transparent;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.contentSimple{
    padding-left: 256px;
    padding-top: 72px;
}
.contentToggled{
    padding-left: 96px;
    padding-top: 72px;
}

.dropdown-item-tag:hover, .dropdown-item-tag:focus {
    color: #6c757d !important;
    background-color: #f8f9fa !important;
}

.dropdown-item-tag:hover i, .dropdown-item-tag:focus i {
    color: #6c757d !important;
}
